* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(245, 245, 245);
  margin: 0 0 100px 0;
}

header {
  background-color: rgba(245, 245, 245, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 30px;
  color: black;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(197, 197, 197);
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  padding: 0 20px;
  width: 100%;
}

article {
  background-color: white;
  color: black;
  padding: 40px 40px;
  margin: 40px 10px 10px 10px;
  box-shadow: 5px 5px #cacaca;
}

.byLine {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.heart {
  width: 12px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 25px;
}

p {
  font-family: "Courier New", Courier, monospace;
  padding: 10px 0;
}

.articleImg {
  width: 100%;
  margin: 20px 0;
}

/* @media quieries */

@media screen and (min-width: 600px) {
  .container {
    padding: 0 50px;
  }

  .byLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
  }

  header {
    height: 120px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    padding: 0 100px;
  }

  .byLine {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 180px;
  }

  article {
    padding: 40px 100px;
  }

  h2 {
    font-size: 40px;
  }
}
